In [28]:
import networkx as nx
import math
n = 10000
p = 3*math.log(n)/n
print(n,p)
g = nx.fast_gnp_random_graph(n, p, seed=None, directed=False)
nx.write_edgelist(g, "examples/test.edges", data=False)

10000 0.002763102111592855

In [31]:
import networkx as nx
import math
n = 1000
m = 3
print(n,m)
g = nx.barabasi_albert_graph(n, m)
nx.write_edgelist(g, "examples/test_ba.edges", data=False)

1000 3

In [30]:
nx.is_connected(g)

True

In [39]:
def count_maximal_integer_lines(file_path):
    max_int = None
    max_count = 0

    # Open the file and read lines
    with open(file_path, 'r') as file:
        i = 0
        for line in file:
            # Convert the line to an integer
            number = int(line.strip())
            
            # Update the maximal integer and its count
            if max_int is None or number > max_int:
                max_int = number
                max_count = 1
                line_max = i
            elif number == max_int:
                max_count += 1
            i += 1

    return max_int, line_max

# Example usage:
file_path = 'examples/test_ba_i-unrank/nb_paths_3.csv'
maximal_lines_count, line = count_maximal_integer_lines(file_path)
print(f'The maximal integer occurs on {line} lines with {maximal_lines_count}')

The maximal integer occurs on 166 lines with 63

In [42]:
from collections import Counter

def read_file_and_count_tuples(file_path):
    # Initialize a Counter to count the occurrences of each tuple
    tuple_counter = Counter()

    # Open the file and read lines
    with open(file_path, 'r') as file:
        for line in file:
            # Strip newline characters and split the line by commas
            numbers = line.strip().split(',')
            # Convert the split strings to integers and create a tuple
            number_tuple = tuple(map(int, numbers))
            # Increment the count of the tuple in the Counter
            tuple_counter[number_tuple] += 1

    return tuple_counter

# Example usage:
file_path = 'examples/test_ba_b-unrank/queries_100000.txt'
tuple_counts = read_file_and_count_tuples(file_path)

# Print the counts of each tuple
for number_tuple, count in tuple_counts.items():
    print(f'Tuple {number_tuple} occurs {count} times')

Tuple (166, 484, 51, 924, 3) occurs 1604 times
Tuple (166, 54, 2, 4, 3) occurs 1521 times
Tuple (166, 54, 110, 8, 3) occurs 1586 times
Tuple (166, 770, 453, 8, 3) occurs 1569 times
Tuple (166, 54, 102, 4, 3) occurs 1590 times
Tuple (166, 26, 19, 153, 3) occurs 1603 times
Tuple (166, 770, 981, 117, 3) occurs 1548 times
Tuple (166, 504, 11, 8, 3) occurs 1518 times
Tuple (166, 26, 104, 6, 3) occurs 1599 times
Tuple (166, 504, 11, 17, 3) occurs 1501 times
Tuple (166, 26, 112, 12, 3) occurs 1638 times
Tuple (166, 54, 72, 12, 3) occurs 1618 times
Tuple (166, 504, 11, 180, 3) occurs 1578 times
Tuple (166, 26, 988, 4, 3) occurs 1578 times
Tuple (166, 26, 19, 69, 3) occurs 1616 times
Tuple (166, 26, 10, 20, 3) occurs 1513 times
Tuple (166, 54, 47, 4, 3) occurs 1577 times
Tuple (166, 78, 21, 0, 3) occurs 1608 times
Tuple (166, 54, 441, 377, 3) occurs 1587 times
Tuple (166, 54, 5, 0, 3) occurs 1576 times
Tuple (166, 26, 22, 38, 3) occurs 1606 times
Tuple (166, 770, 7, 8, 3) occurs 1581 times
Tuple (166, 26, 19, 629, 3) occurs 1605 times
Tuple (166, 26, 22, 8, 3) occurs 1604 times
Tuple (166, 54, 2, 24, 3) occurs 1532 times
Tuple (166, 54, 261, 8, 3) occurs 1668 times
Tuple (166, 78, 562, 38, 3) occurs 1651 times
Tuple (166, 78, 21, 113, 3) occurs 1561 times
Tuple (166, 26, 147, 8, 3) occurs 1549 times
Tuple (166, 504, 11, 4, 3) occurs 1547 times
Tuple (166, 26, 360, 308, 3) occurs 1588 times
Tuple (166, 78, 340, 38, 3) occurs 1561 times
Tuple (166, 78, 506, 117, 3) occurs 1634 times
Tuple (166, 78, 98, 17, 3) occurs 1503 times
Tuple (166, 26, 19, 6, 3) occurs 1606 times
Tuple (166, 26, 10, 322, 3) occurs 1621 times
Tuple (166, 26, 789, 263, 3) occurs 1608 times
Tuple (166, 78, 21, 17, 3) occurs 1554 times
Tuple (166, 26, 10, 6, 3) occurs 1570 times
Tuple (166, 26, 19, 8, 3) occurs 1615 times
Tuple (166, 26, 57, 8, 3) occurs 1598 times
Tuple (166, 26, 82, 116, 3) occurs 1619 times
Tuple (166, 26, 19, 4, 3) occurs 1591 times
Tuple (166, 504, 11, 20, 3) occurs 1568 times
Tuple (166, 484, 483, 73, 3) occurs 1637 times
Tuple (166, 480, 7, 12, 3) occurs 1589 times
Tuple (166, 26, 22, 322, 3) occurs 1572 times
Tuple (166, 54, 2, 0, 3) occurs 1663 times
Tuple (166, 54, 102, 153, 3) occurs 1553 times
Tuple (166, 26, 22, 41, 3) occurs 1595 times
Tuple (166, 480, 7, 8, 3) occurs 1623 times
Tuple (166, 480, 577, 9, 3) occurs 1565 times
Tuple (166, 54, 685, 4, 3) occurs 1634 times
Tuple (166, 480, 7, 24, 3) occurs 1645 times
Tuple (166, 504, 11, 73, 3) occurs 1539 times
Tuple (166, 78, 1, 0, 3) occurs 1590 times
Tuple (166, 26, 32, 6, 3) occurs 1626 times
Tuple (166, 54, 82, 116, 3) occurs 1633 times
Tuple (166, 78, 900, 4, 3) occurs 1616 times
Tuple (166, 770, 7, 24, 3) occurs 1587 times
Tuple (166, 770, 7, 12, 3) occurs 1529 times
Tuple (166, 480, 72, 12, 3) occurs 1578 times
Tuple (166, 26, 10, 4, 3) occurs 1558 times

In [47]:
from scipy.stats import wasserstein_distance
x = wasserstein_distance([1/3, 1/3, 1/3], [1/3, 1/3, 1/3])
y = wasserstein_distance([1/3, 1/3, 1/3], [0.37, 0.315, 0.315])
print(x,y)

0.0 0.024444444444444435

In [2]:
from scipy.stats import wasserstein_distance
z = wasserstein_distance([1/3, 1/3, 1/3], [1/2, 1/4, 1/4])
t = wasserstein_distance([1/3, 1/3, 1/3], [0.37, 0.315, 0.315])
print(z,t)

0.1111111111111111 0.024444444444444435